.game-dialog-panel {
    @apply
        fixed 
        top-4 
        bottom-4 
        left-2 
        right-2 
        overflow-auto 
        sm:w-full
        md:container 
        md:mx-auto
        lg:bottom-12
        lg:top-12
}
