.game-dialog-panel {
    @apply
        bg-white
        fixed
        flex 
        flex-col 
        h-[86vh]
        justify-between
        mx-96
        rounded-md
        shadow-lg
        top-[8%] 
        w-[90%]
        sm:top-[10%]
        sm:w-full
        md:container
        md:h-[80vh]
        md:mx-auto
}